{% extends 'explore_base.html' %} 
{% block main %}
{% load flatblock_tags %}

<h2>{% flatblock "data_catalog_title" %}</h2>
{% flatblock "data_catalog_intro" %}

<div class="row-fluid search-row">
    <div class="span12" style="margin: 15px 0;">
        <h3>Data Layer Search</h3>
        <form class="form-search layer-search">
            <input type="text" class="search-box" data-provide="typeahead" data-bind="value: searchTerm, event: { keyup: keySearch }">
            <a class="btn">
                <i class="icon-remove icon-large"></i> 
            </a>
        </form>
    </div>
</div>

<div class="span8 theme catalog-page accordion" id="theme-list">
    {% for theme_dict in themes %}
    <div class="accordion-group theme-group">
        <div class="accordion-heading theme-heading">
            <a class="accordion-toggle theme-title color-up" data-toggle="collapse" data-parent="theme-list" href="#{{ theme_dict.theme.name }}">
                <h3>
                    <span class="theme-search-name">{{ theme_dict.theme.display_name }}</span> / {{ theme_dict.num_layers }} 
                    <small><i class="icon-caret-right caret-icon color-up" style="display: inline-block"></i></small>
                    <small><i class="icon-caret-down caret-icon color-up" style="display: none"></i></small>
                </h3>
            </a>
        </div>
        <div id="{{ theme_dict.theme.name }}" class="theme-accordion accordion-body collapse"> 
            <div class="accordion-inner">
                {% if not theme_dict.layers %}
                <p>coming soon...</p>
                {% else %}
                <div class="accordion" id="{{theme_dict.theme.name}}-layer-list">
                    <!-- foreach layer -->
                    {% for layer in theme_dict.layers %}
                        <div class="accordion-group layer-group">
                            {% if layer.is_sublayer %}
                            {% else %} 
                                {% if layer.is_parent %}   
                                <div class="accordion-heading layer-heading">
                                    <a class="accordion-toggle layer-name color-up" data-toggle="collapse" data-parent="{{theme_dict.theme.name}}-layer-list" href="#{{layer.slug}}-links">
                                        <span class="layer-search-name">{{ layer.name|upper }}</span> / {{ layer.sublayer_list|length }}
                                    </a>
                                </div>
                                <div id="{{layer.slug}}-links" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="accordion" id="{{layer.slug}}-sublayer-list">
                                            {% for sublayer in layer.sublayer_list %}
                                                <div class="accordion-group sublayer-group">
                                                    <div class="accordion-heading sublayer-heading">
                                                        <a class="accordion-toggle sublayer-name color-up" data-toggle="collapse" data-parent="{{layer.slug}}-sublayer-list" href="#{{sublayer.slug}}-links">
                                                        <span class="layer-search-name">{{ sublayer.name }}</span>
                                                        </a>
                                                    </div>
                                                                        
                                                    <div id="{{sublayer.slug}}-links" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <ul class="unstyled data-layer-links">
                                                                <li>
                                                                    {% if sublayer.bookmark_link %}
                                                                    <a href="{{sublayer.bookmark_link}}" rel="tooltip" title="View this layer in Marine Planner" class="data-layer-link color-up" target="_view">VIEW</a>
                                                                    {% else %}
                                                                    <span class="link-not-available">VIEW</span>
                                                                    {% endif %}
                                                                </li>
                                                                <li>
                                                                    {% if sublayer.kml %}
                                                                    <a href="{{sublayer.kml}}" rel="tooltip" title="Download to View in Google Earth" class="data-layer-link color-up" target="_download">KML</a>
                                                                    {% else %}
                                                                    <span class="link-not-available">KML</span>
                                                                    {% endif %}
                                                                </li>
                                                                <li>
                                                                    {% if sublayer.data_download_link %}
                                                                    <a href="{{sublayer.data_download_link}}" rel="tooltip" title="Download ESRI Formatted Dataset" class="data-layer-link color-up" target="_download">DATA</a>
                                                                    {% else %}
                                                                    <span class="link-not-available">DATA</span>
                                                                    {% endif %}
                                                                </li>
                                                                <li>
                                                                   {% if sublayer.metadata_link %}
                                                                    <a href="{{sublayer.metadata_link}}" rel="tooltip" title="View the Metadata" class="data-layer-link color-up" target="_blank">METADATA</a>
                                                                    {% else %}
                                                                    <span class="link-not-available">METADATA</span>
                                                                    {% endif %}
                                                                </li>
                                                                <li>
                                                                    {% if sublayer.source_link %}
                                                                    <a href="{{sublayer.source_link}}" rel="tooltip" title="Link to Dataset Source Provider" class="data-layer-link color-up" target="_blank">SOURCE</a>
                                                                    {% else %}
                                                                    <span class="link-not-available">SOURCE</span>
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                            <div class="descriptive-text">
                                                                {{ sublayer.description }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}   
                                <div class="accordion-heading layer-heading">
                                    <a class="accordion-toggle layer-name color-up" data-toggle="collapse" data-parent="{{theme_dict.theme.name}}-layer-list" href="#{{layer.slug}}-links">
                                        <span class="layer-search-name">{{ layer.name|upper }}</span>
                                    </a>
                                </div>
                                <div id="{{layer.slug}}-links" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <ul class="unstyled data-layer-links">
                                            <li>
                                                {% if layer.bookmark_link %}
                                                <a href="{{layer.bookmark_link}}" rel="tooltip" title="View this layer in Marine Planner" class="data-layer-link color-up" target="_view">VIEW</a>
                                                {% else %}
                                                <span class="link-not-available">VIEW</span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if layer.kml %}
                                                <a href="{{layer.kml}}" rel="tooltip" title="Download to View in Google Earth" class="data-layer-link color-up" target="_download">KML</a>
                                                {% else %}
                                                <span class="link-not-available">KML</span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if layer.data_download_link %}
                                                <a href="{{layer.data_download_link}}" rel="tooltip" title="Download ESRI Formatted Dataset" class="data-layer-link color-up" target="_download">DATA</a>
                                                {% else %}
                                                <span class="link-not-available">DATA</span>
                                                {% endif %}
                                            </li>
                                            <li>
                                               {% if layer.metadata_link %}
                                                <a href="{{layer.metadata_link}}" rel="tooltip" title="View the Metadata" class="data-layer-link color-up" target="_blank">METADATA</a>
                                                {% else %}
                                                <span class="link-not-available">METADATA</span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if layer.source_link %}
                                                <a href="{{layer.source_link}}" rel="tooltip" title="Link to Dataset Source Provider" class="data-layer-link color-up" target="_blank">SOURCE</a>
                                                {% else %}
                                                <span class="link-not-available">SOURCE</span>
                                                {% endif %}
                                            </li>
                                        </ul>
                                        <div class="descriptive-text">
                                            {{ layer.description }}
                                        </div>
                                    </div>
                                </div>
                                {% endif%}
                            {% endif %}
                        </div>
                    {% endfor layers %}
                </div>
                {% endif %}
                <!-- end foreach layer -->
            </div>
        </div>
    </div>
    {% endfor themes%}
        
        
    <!-- FOR SMART PHONES -->
    <!--
    <div class="visible-phone">
        <div>
            <table class="table table-striped table-condensed">
                <tbody>
                    {% if not theme_dict.layers %}
                        <p>coming soon...</p>
                    {% else %}
                    {% for layer in theme_dict.layers %}
                        {% if layer.is_parent %}
                        {% else %}
                        <tr>
                            <td>
                                <div id="{{layer.slug}}" style="position:relative; top:-200px;"></div>
                                <span>{{layer.name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="catalog-links" style="text-align: right; padding-right: 50px;">
                                <ul class="unstyled btn-group">
                                    <li>
                                        {% if layer.bookmark_link %}
                                        <a class="btn" href="{{layer.bookmark_link}}" target="_blank">
                                                {% flatblock "data_catalog_view_link" %}
                                        </a>
                                        {% else %}
                                        <a class="btn disabled" href="{{layer.bookmark_link}}" target="_blank">
                                                {% flatblock "data_catalog_view_link" %}
                                        </a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if layer.description_link %}
                                        <button class="btn layer-name catalog-tooltip" rel="popover" 
                                            data-name="{{layer.name}}" 
                                            data-thumbnail="{{layer.thumbnail}}"
                                            data-placement="bottom"
                                            data-content="{% if layer.tooltip %} {{layer.tooltip}} {% endif %}">
                                            {% flatblock "data_catalog_factsheet_link" %}
                                        </button>
                                        {% else %}
                                        <a class="btn disabled" href="{{layer.description_link}}">
                                            {% flatblock "data_catalog_factsheet_link" %}
                                        </a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if layer.source_link %}
                                        <a class="btn" href="{{layer.source_link}}" target="_blank">
                                            {% flatblock "data_catalog_source_link" %}
                                        </a>
                                        {% else %}
                                        <a class="btn disabled" href="{{layer.source_link}}" target="_blank">
                                            {% flatblock "data_catalog_source_link" %}
                                        </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor layers %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    -->
    
</div>
    
<style type="text/css">

    input[type="text"] {
        /*border: 0px;*/
    }
    input[type="text"]:hover {
        /*border: 1px solid #cccccc;*/
    }

    .catalog-search-button {
        background-color: transparent; 
        border: 0; 
        padding: 0;
    }

    #theme-list .accordion-group {
        border: 0px;
        margin-bottom: 0px;
    }

    #theme-list .theme-group {
        padding-bottom: 3px;
        border-bottom: 1px solid #e5e5e5;
        width: 95%;
    }

    #theme-list .accordion-heading {
        display: table;
    }

    #theme-list .accordion-toggle {
        display: table-cell;
        vertical-align: middle;
        padding: 0px 15px;
        height: 41px;
    }

    #theme-list .accordion-inner li {
        padding-left: 0px;
        padding-right: 16px;
    }

    #theme-list .accordion-body {
        position: static;
    }

    #theme-list h3 {
        margin: 0px;
    }

    #theme-list a {
        text-decoration: none;
    }

    #theme-list .theme-heading .color-up h3 {
        color: rgba(75, 137, 153, 1);
    }

    #theme-list .theme-heading .color-down h3 {
        color: rgba(75, 137, 153, .8);
    }

    #theme-list .theme-heading small {
        vertical-align: middle;
    }

    #theme-list .theme-heading i.color-up {
        color: rgba(0,0,0, .6);
    }

    #theme-list .theme-heading i.color-down {
        color: rgba(0,0,0, .6);
    }

    #theme-list .layer-heading .color-up {
        color: rgba(102, 102, 102, 1);
    }
    #theme-list .layer-heading .color-down {
        color: rgba(102, 102, 102, .8);
    }

    #theme-list .sublayer-heading .color-up {
        color: rgba(102, 102, 102, 1);
    }
    #theme-list .sublayer-heading .color-down {
        color: rgba(102, 102, 102, .8);
    }

    #theme-list .data-layer-links .color-up {
        color: rgba(0, 136, 204, 1);
    }

    #theme-list .data-layer-links .color-down {
        color: rgba(0, 136, 204, .8);
    }

    #theme-list .data-layer-links li  {
        display: inline-block;
    }

    .blog .typeahead {
        width: 28%;
    }

    .blog .typeahead li a {
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready( function() {
        var layers = [],
            layer_index = {},
            search =  function(val) {
                var layer = layer_index[val];
                
                //layer.layer.closest('tr').effect("pulsate", {times:2 }, 500);
                if ( ! $(layer.layer).closest('.theme-group').find('.accordion-body').first().hasClass('in') ) {
                    $(layer.layer).closest('.theme-group').find('.accordion-body').first().collapse('show');
                }
                if ( ! $(layer.layer).closest('.layer-group').find('.accordion-body').first().hasClass('in') ) {
                    $(layer.layer).closest('.layer-group').find('.accordion-body').first().collapse('show');
                }
                if ( $(layer.layer).closest('.sublayer-group').find('.accordion-body').first().length ) {
                    $(layer.layer).closest('.sublayer-group').find('.accordion-body').first().collapse('show');
                    $(layer.layer).closest('.sublayer-group').find('.layer-search-name').effect("pulsate", {times:1}, 500);
                } else {   
                    $(layer.layer).closest('.layer-group').find('.layer-search-name').first().effect("pulsate", {times:1}, 500);
                }
                setTimeout(function() {$(window).scrollTop(layer.layer.closest('.layer-group').offset().top-300)}, 200);
            };

        if (window.location.hash) {
            $(window).scrollTop($(window).scrollTop() - 100);
            $(window.location.hash).closest('tr').effect("pulsate", {times:2 }, 500);

        }

        $('.theme-group').each( function(index, theme) {
            var theme_name = $(theme).find('.theme-search-name').text();
            $(theme).find('.layer-search-name').each( function(index, layer) {
                var name = $.trim($(layer).text()) + ' (' + $.trim(theme_name) + ')',
                    description = $(layer).closest('.accordion-group').find('.descriptive-text'),
                    kitchenSink = $.trim($(layer).text()) + ' ' + $.trim(theme_name) + ' ' + $.trim($(description).text());
                layers.push(name);
                layer_index[name] = { 
                    layer: $(layer),
                    fullSearch: kitchenSink
                };                
            });
        });
        
        $('.layer-search').find('input').typeahead( {
            source: layers.sort(),
            updater: function (item) {
                search(item);
                return item;
            },
            matcher: function(item) {
                if (layer_index[item].fullSearch.toLowerCase().indexOf(this.query.toLowerCase()) !== -1) { 
                    return true;
                }
            }
        });
        
        $('.layer-search').submit(function (event) {
            event.preventDefault();
            //console.log('layer-search submit');
            search($(this).find('input').val());
        });
        

        $('.layer-search').on('keyup', 'input', function (event) {
            event.preventDefault();  
            //console.log('layer-search keyup ' + event.which);  
            if (event.which === 13) {
                search($(this).val());
            }
        });

        $('ul.typeahead').on('click', 'li', function () {
        //$('.layer-search').on('click', 'li', function () {
            //console.log('layer-search list click');
            search($(this).text());
        });

        $('.theme-name').on('hover', function() {
            var span = $(this),
                name = span.data('name'),
                thumbnail = span.data('thumbnail'),
                theme = span.closest('.theme');
            //theme.find('.title').text(name);
            if ( thumbnail === 'None' || thumbnail === '') {
                thumbnail = 'http://placehold.it/320x180';
            }
            //theme.find('.thumbnail img').attr('src', thumbnail);
        });
        $('.layer-name').on('hover', function() {
            var layer = $(this),
                name = layer.data('name'),
                thumbnail = layer.data('thumbnail'),
                theme = layer.closest('.theme');
            //theme.find('.title').text(name);
            if ( thumbnail === 'None' || thumbnail === '') {
                thumbnail = 'http://placehold.it/320x180';
            }
            //theme.find('.thumbnail img').attr('src', thumbnail);
        });
        //overriding the template here to remove empty space for title
        $('.layer-name').popover({
            template: '<div class="popover layer-popover"><div class="arrow"></div><div class="popover-inner layer-tooltip"><div class="popover-content"><p></p></div></div></div>'
        });
        
        // MODIFIED DATA CATALOG
        
        $('.theme-group').hover(function(e) { //trigger the mouseover event
            $('.theme-title').removeClass('color-up');
            $('.theme-title').addClass('color-down');
            $('.caret-icon').removeClass('color-up');
            $('.caret-icon').addClass('color-down');
            $(e.currentTarget).find('.theme-title').removeClass('color-down');
            $(e.currentTarget).find('.theme-title').addClass('color-up');
            $(e.currentTarget).find('.caret-icon').removeClass('color-down');
            $(e.currentTarget).find('.caret-icon').addClass('color-up');
            $('#theme-list .in').siblings('.theme-heading').find('.theme-title').removeClass('color-down');
            $('#theme-list .in').siblings('.theme-heading').find('.theme-title').addClass('color-up');
            $('#theme-list .in').siblings('.theme-heading').find('.caret-icon').removeClass('color-down');
            $('#theme-list .in').siblings('.theme-heading').find('.caret-icon').addClass('color-up');
        }, function(e) { //trigger the mouseout event
            $('.theme-title').removeClass('color-down');
            $('.theme-title').removeClass('color-up');
            $('.theme-title').addClass('color-up');
            $('.caret-icon').removeClass('color-down');
            $('.caret-icon').removeClass('color-up');
            $('.caret-icon').addClass('color-up');
        });
        
        $('.theme-accordion').on('show', function(e) {
            $(e.currentTarget).siblings('.theme-heading').find('i.icon-caret-right').css('display', 'none');
            $(e.currentTarget).siblings('.theme-heading').find('i.icon-caret-down').css('display', 'inline-block');
        });
        
        $('.theme-accordion').on('hide', function(e) {
            if ($(e.target).hasClass('theme-accordion')) {
                $(e.currentTarget).siblings('.theme-heading').find('i.icon-caret-right').css('display', 'inline-block');
                $(e.currentTarget).siblings('.theme-heading').find('i.icon-caret-down').css('display', 'none');
            }
        });
        
        $('.layer-group').hover(function(e) { //trigger the mouseover event
            $('.layer-namee').removeClass('color-up');
            $('.layer-name').addClass('color-down');
            $(e.currentTarget).find('.layer-name').removeClass('color-down');
            $(e.currentTarget).find('.layer-name').addClass('color-up');
            $('#theme-list .in').siblings('.layer-heading').find('.layer-name').removeClass('color-down');
            $('#theme-list .in').siblings('.layer-heading').find('.layer-name').addClass('color-up');
        }, function(e) { //trigger the mouseout event
            $('.layer-name').removeClass('color-down');
            $('.layer-name').removeClass('color-up');
            $('.layer-name').addClass('color-up');
        });
        
        $('.sublayer-name').hover(function(e) { //trigger the mouseover event
            $('.sublayer-namee').removeClass('color-up');
            $('.sublayer-name').addClass('color-down');
            $(e.currentTarget).removeClass('color-down');
            $(e.currentTarget).addClass('color-up');
            $('#theme-list .in').siblings('.sublayer-heading').find('.sublayer-name').removeClass('color-down');
            $('#theme-list .in').siblings('.sublayer-heading').find('.sublayer-name').addClass('color-up');
        }, function(e) { //trigger the mouseout event
            $('.sublayer-name').removeClass('color-down');
            $('.sublayer-name').removeClass('color-up');
            $('.sublayer-name').addClass('color-up');
        });

        $('.data-layer-link').hover(function(e) { //trigger the mouseover event
            $('.data-layer-link').removeClass('color-up');
            $('.data-layer-link').addClass('color-down');
            $(e.currentTarget).removeClass('color-down');
            $(e.currentTarget).addClass('color-up');
            //$('#theme-list .in').siblings('.sublayer-heading').find('.sublayer-name').removeClass('color-down');
            //$('#theme-list .in').siblings('.sublayer-heading').find('.sublayer-name').addClass('color-up');
        }, function(e) { //trigger the mouseout event
            $('.data-layer-link').removeClass('color-down');
            $('.data-layer-link').removeClass('color-up');
            $('.data-layer-link').addClass('color-up');
        });
        
    });
</script>
{% endblock %}