mp/logs/
*/.DS_Store
proxy/cache_data
proxy/mapproxy.yaml
*.pyc
mp/settings_local.py
logs/*
mediaroot/*
deploy/*
data/*
env/*
printing/shots/*
.vagrant
portal/*.sql
/mp-media
/mp.log
/grassdata
/mp/clipping/fixtures/clipping_layers.json
/docs/mockups/archive
/docs/mockups/assets
/docs/mockups/SDC_WireFrames_updated.pdf
/docs/mockups
/mp/reports/fixtures/artificialreefs.json
/mp/reports/fixtures/awchubs.json
/mp/reports/fixtures/bathymetry.json
/mp/reports/fixtures/benthicsediment.json
/mp/reports/fixtures/coastalslr.json
/mp/reports/fixtures/ocsblocks.json
/mp/reports/fixtures/seabedform.json
/mp/reports/fixtures/trafficseparationzones.json
/mp/reports/fixtures/waterbirdsurveys.json
/mp/reports/fixtures/windenergyareas.json
/mp/reports/fixtures/windspeed.json
portal/wordpress/.htaccess
portal/wordpress/wp-config.php
printing/shots/*
/media/data_manager/utfgrid
scripts/cookbooks/node_*.json
/media/crop/*

mp/data_manager/fixtures/datadump_2013_11_20.json

mp/data_manager/fixtures/initial_data_orig.json
