mp/logs/
*/.DS_Store
proxy/cache_data
proxy/mapproxy.yaml
*.pyc
mp/settings_local.py
deps/*
logs/*
mediaroot/*
deploy/*
data/*
env/*
sql/*
printing/shots/*
.vagrant
portal/*.sql
/mp-media
/mp.log
/grassdata
/mp/clipping/fixtures/clipping_layers.json
/docs/mockups/archive
/docs/mockups/assets
/docs/mockups/SDC_WireFrames_updated.pdf
/docs/mockups
/mp/reports/fixtures/artificialreefs.json
/mp/reports/fixtures/awchubs.json
/mp/reports/fixtures/bathymetry.json
/mp/reports/fixtures/benthicsediment.json
/mp/reports/fixtures/coastalslr.json
/mp/reports/fixtures/ocsblocks.json
/mp/reports/fixtures/seabedform.json
/mp/reports/fixtures/trafficseparationzones.json
/mp/reports/fixtures/waterbirdsurveys.json
/mp/reports/fixtures/windenergyareas.json
/mp/reports/fixtures/windspeed.json
portal/wordpress/.htaccess
portal/wordpress/wp-config.php
printing/shots/*
/media/data_manager/utfgrid
/media/data_manager/geojson/archive
/media/crop/*
scripts/cookbooks/node_*.json
/media/crop/*
deps/

mp/data_manager/fixtures/datadump_2013_11_20.json

mp/data_manager/fixtures/initial_data_orig.json

mp/data_manager/fixtures/archive
mp/data_manager/archived_migrations
media/assets/font-awesome-orig
media/wcodp

mp/build/pip-delete-this-directory.txt

mp/data_manager/fixtures/data_manager_wcodp-md-staging.json

mp/mp_settings/fixtures/mp_settings_wcodp-md-staging.json
mp/mp_settings/fixtures/archive

scripts/cookbooks/python/recipes/pip-orig.rb

mp/build/pip-delete-this-directory.txt

mp/data_manager/fixtures/data_manager_wcodp-md-staging.json

mp/mp_settings/fixtures/mp_settings_wcodp-md-staging.json

scripts/cookbooks/python/recipes/pip-orig.rb

media/data_manager/geojson/ofr_planning_grid.json

ofr_planning_grid.sql

cronjobs/test.json
cronjobs/survey_results_3857.json
cronjobs/for_Brian/*

media/data_manager/geojson/survey_results_3857.json

media/data_manager/geojson/survey_results.json


media/data_manager/geojson/ofr_planning_grid_orig.json

media/data_manager/geojson/survey_results_3857_new.json

mp/scenarios/fixtures/grid_cells.json.zip
mp/scenarios/fixtures/grid_cells.json

media/data_manager/geojson/survey_results_4326.json

mp/scenarios/fixtures/archive/*
mp/scenarios/fixtures/grid_cells.zip
mp/scenarios/fixtures/grid_cells_1b.json
mp/scenarios/fixtures/grid_cells_2.json
mp/scenarios/fixtures/grid_cells_2b.json

mp/scenarios/fixtures/archive/grid_cells.json.zip

cronjobs/survey_results_unsummarized.json
