
<div id="designs" style="padding: 10px" class="tab-pane fade" data-tab="designs" data-bind="with: scenarios">
  <div id="designs-slide">
    <!-- Create New Design dropdown menu -->
    <div class="row-fluid">
        <div class="alert alert-success" data-bind="visible: loadingMessage">
          <strong>Creating!</strong> <span data-bind="text: loadingMessage"></span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%"></div>
          </div>
        </div>
        <div class="alert alert-error" data-bind="visible: errorMessage">
          <strong>Error!</strong> <span data-bind="text: errorMessage"></span>
          <div>
            <button class="btn pull-right" data-bind="click: reset">Try Again</button>
            <div class="clearfix"></div>
          </div>
        </div>
    </div>
    
    <div class="form-container" data-bind="visible: ! (loadingMessage() || errorMessage())">
        <div id="designs-data" data-bind="visible: !scenarioForm() && !selectionForm() && !reportsVisible() && !drawingForm()">
            <div class="row-fluid">
                <div class="span12">
                    
                    <div id="create-new-design" class="btn-group pull-left" style="padding-bottom: 10px;">
                        <a id="create-new-button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            Create New
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 113px; margin-top: -10px; left: 0px;">
                            <li><a data-bind="click: createPolygonDesign" style="padding-left: 15px">Drawing</a></li>
                            <!--
                            <li class="dropdown-submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sketch of the Sea</a>
                                <ul class="dropdown-menu">
                                    <li><a data-bind="click: createPointDesign">Point</a></li>
                                    <li><a data-bind="click: createLineDesign">Line</a></li>
                                    <li><a data-bind="click: createPolygonDesign">Polygon</a></li>
                                </ul>                                
                            </li>
                            -->
                        </ul>
                    </div>
                    
                </div>
            </div>
            
            <div id="design-list" style="height: 300px" class="row-fluid">
                <div id="designs-accordion" class="designs">
                    <div class="accordion" style="padding-bottom: 110px">
                    
                        <div data-bind="visible: !drawingList().length && !drawingList().length">
                            <div style="padding: 10px;">
                                <p>
                                    You currently have no Drawings. 
                                </p>
                                <p>
                                    Any Drawings that you create will be listed here in the Designs panel.
                                </p>
                                <!-- <p>
                                    You may, at any time, edit, share, or remove any of the designs that you have created.  
                                    Any designs shared with you can be copied so that they too can be edited, shared, or removed.
                                </p> -->
                            </div>
                        </div>                    
                        
                        <!-- DRAWINGS -->
                        <div data-bind="visible: drawingList().length">
                            <div class="accordion-group">
                                <div class="collections-header">
                                    <div id="drawings-header" class="accordion-heading" data-bind="click: toggleDrawingsOpen, css: { 'active': isDrawingsOpen() }">
                                        <div>
                                            <a class="accordion-toggle">
                                                <!--<span>Sketches of the Sea</span>-->
                                                <span>Drawings</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-body collapse" data-bind="css: { 'in': isDrawingsOpen() }" style="margin-left: 0px">
                                    <div class="accordion-inner" style="padding: 10px 10px">
                                        <ul class="unstyled list" data-bind="foreach: drawingList" style="padding: 0">
                                            <li class="layer" style="margin-bottom: 10px">
                                                <div class="btn-group btn-group-layer" style="width: 95%">
                                                    <a class="btn btn-info-sign" data-bind="click: toggleDescription, css: { 'active': infoActive() }">
                                                        <i class="icon-info-sign icon-large"></i>
                                                    </a>
                                                    <a style="font-weight: normal" class="btn btn-layer" data-bind="css: { 'active': active(), 'not-active': ! active() }, click: toggleActive">
                                                        <div data-bind="text: name"></div>
                                                        <span rel="tooltip" data-bind="attr: {title: sharedBy}">
                                                            <i class="icon-group" data-bind="visible: shared" style="padding-left: 10px"></i>
                                                        </span>
                                                        <i class="check icon-large icon-check" data-bind="visible: active() && visible()"></i>
                                                        <i class="check icon-large icon-check-empty" data-bind="visible: active() && ! visible()"></i>
                                                    </a>
                                                    <a class="btn btn-group dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu" style="left: 207px; min-width: 100px; top: 28px;">
                                                        <li><a data-bind="visible: ! shared(), click: editDrawing">Edit</a></li>
                                                        <li><a id="share-option" data-bind="visible: ! shared() && $parent.sharingGroups().length, click: $parent.showSharingModal">Share</a></li>
                                                        <li><a data-bind="click: $parent.zoomToScenario">Zoom To</a></li>
                                                        <li class="divider"></li>
                                                        <li><a data-bind="visible: ! shared(), click: deleteDrawing">Delete</a></li>
                                                        <li><a data-bind="visible: shared, click: createCopyDrawing">Create Copy</a></li>
                                                    </ul>
                                                </div>
                                            </li>  
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end drawings -->
                    </div>
                </div>
            </div>   
        </div>    
           
        <div style="height: 100%" data-bind="visible: drawingForm">   
            <div id="drawing-form" class="panel-container"></div> 
        </div>
        
    </div>
  </div>
</div>