<!--<div id="help-tab" class="rounded" data-bind="style: {visibility: hideTours() ? 'hidden': 'visible' }">
    <a href="#">tour</a>
</div>-->

<!-- Default Tour -->
<div id="help-text-dataTab" class="hide">
    <p>The Data tab is where you'll find the data layers available for viewing.</p>
    <ol>
        <li>Click on a Theme to show the Data Layers available for you to view
        <li>Select one or more Data Layers to display it on the map
    </ol>
    <!--<p>Clicking on the Themes in the Data tab will expose the Layers.  And clicking on the Layers will display the data on the Map.</p>-->
    <!-- <p><a id="start-data-tour" href="#">Tour the Data tab</a></p> -->
</div>
<div id="help-text-data-tour-form-search" class="hide">
    <p>Not sure where to look? </p>
    <p>The auto-complete search field helps you locate and view data.</p>
    <ol> 
        <li>Enter your search term into the search box
        <li>Select from the list of auto-complete options
        <li>And the theme containing your layer will be expanded to show its location and your layer will be shown on the map
    </ol>
</div>
<div id="help-text-activeTab" class="hide">
    <p>Switching to the Active tab allows you to customize the data you selected from the Data tab.</p>
    <p>From the Active tab you can adjust the ordering of the layers, change their transparency, and turn them on and off.</p>
    <!--<p>Find Out How by <a id="start-active-tour" href="#">Touring the Active tab</a></p>-->
</div>
<div id="help-text-legendTab" class="hide">
    <p>Legend symbols are listed under the Legend tab.</p>
    <p>Adjusting the layer ordering in the Active tab will cause a re-ordering in the Legend tab as well.</p>
</div>
<div id="help-text-form-search" class="hide">
    <p>The auto-complete search field helps you locate and view data.</p>
    <ol> 
        <li>Enter your search term into the search box
        <li>Select from the list of auto-complete options
        <li>And the theme containing your layer will be expanded to show its location and your layer will be shown on the map
    </ol>
</div>
<div id="help-text-olControlZoom" class="hide">
    <p>Use the + and - to zoom in and zoom out. Go ahead, Try it! </p>
    <p>You can also zoom in to a particular area on the map: </p>
    <ol>
        <li>Hold down the shift key
        <li>Then with the mouse button pressed, drag the mouse across the map (the zoom area will be shown on the map)
        <li>Release the mouse button when the zoom area is complete
    </ol>
</div>
<div id="help-text-basemaps" class="hide">
    <p>The map includes the following specialized features allowing you to: </p>
    <ol>
        <li>Change the underlying Basemap (e.g. satellite or road map)
        <li>Use Bookmarks to create, store, or share your personalized map views with friends
        <li>Export your personalized map view as a URL or an Embedded Map
        <li>View the map in Full Screen (not applicable in some internet viewers)
    </ol>
</div>
<div id="help-text-minimize-icon" class="hide">
    <p>The left panel can also be minimized to make more room for the map viewer.</p>
</div>
<div id="help-text-project-logo" class="hide">
    <p>Click on the Our Florida Reefs logo at any time to return to our homepage.</p>
</div>

<!-- Data Tab Tour -->
<div id="help-text-data-tour-dataTab" class="hide">
    <p>The Data tab is where you'll find the data layers available for viewing.</p>
    <ol>
        <li>Click on a Theme to show the its Data Layers available for you to view
        <li>Select one or more Data Layers to display it on the map
    </ol>
    <!-- <p><a name="start-default-tour" href="#">Return to the Basic Tour</a></p> -->
</div>
<div id="help-text-data-tour-theme" class="hide" style="margin-top: 20px">
    <p>Clicking on the Themes will expand/contract the list of available Data Layers.</p>
</div>
<div id="help-text-data-tour-layer" class="hide" style="margin-top: 20px">
    <p>Clicking on the Layer names will display the data on the map.</p>
</div>
<div id="help-text-data-tour-info-sign" class="hide">
    <p>Clicking on the info button <i class="icon-info-sign icon-large"></i> will display the layer description in a separate pop up window.</p>
    <p>This includes descriptive information, the source of the data, and links for download and further exploration.</p>
</div>

<!-- Active Tab Tour -->
<div id="help-text-active-tour-activeTab" class="hide">
    <p>Switching to the Active tab allows you to customize the data activated from the Data tab.</p>
    <!-- <p><a name="start-default-tour" href="#">Return to the Basic Tour</a></p>             -->
</div>
<div id="help-text-active-tour-layer-button" class="hide">
    <p>You can quickly turn layers on and off by clicking here.</p>
</div>
<div id="help-text-active-tour-opacity-button" class="hide">
    <p>Clicking on the transparency button gives you control over the layer's transparency on the map.</p>
</div>
<div id="help-text-active-tour-deactivate-button" class="hide">
    <p>You can remove a layer from the Active tab by selecting the <i class="icon-remove"></i> button (don't worry, you can activate it again under the Data tab).</p>
</div>
<div id="help-text-active-tour-ui-sortable" class="hide">
    <p>The ordering of the layers on the map (which layers are "on top" of other layers) is the same as the ordering in the Active panel.</p>
    <p>To change the order of the layers simply drag-and-drop the layer to the desired position in the list of layers.</p>
</div>


            
<style type="text/css">
#pageGuideMessage {
    left: 10px !important;
    width: 85% !important;
}
</style>