{% extends "common/panel.html" %}
{% block title %}{{title}}{% endblock %}
{% block panel %}
{% load flatblock_tags %}

<script type="text/javascript" charset="utf-8">
function updateRemaininLeaseBlocks() {
    app.viewModel.scenarios.scenarioFormModel.updateLeaseblocksLeft();
    app.viewModel.scenarios.scenarioFormModel.updateRemainingBlocks();
}
madrona.onShow(function(){
    madrona.setupForm($('#wind-design-form'));
    
    var step = 1;
    var max_step = 3;

    $('.inputfield').each(function() {
        $(this).hide();
    });
    
    updateDesignScrollBar();
    
    function validate(step) {
        if (step == 1) {/*
            parameter_selections = 0;
            var all_params = $('input.parameters');
            //NOTE:  This will also examine parameters in Step 2...might call those 'filters' to prevent this problem?
            //       This means the user could select a param in step 1, proceed to step 2, select param there, 
            //       return to step 1 and deselect all params there, and then proceed back to step 2 with no parameters selected
            //       or maybe call them parameters_step2...?
            $.each(all_params, function(index, param) {
                if (param.checked) {
                    parameter_selections += 1;
                }
            });
            if (parameter_selections == 0) {
                alert("Select at least 1 Criteria.");
                return false;
            } else {
                if ($('#id_input_parameter_wea').is(':checked')) {
                    wea_selections = 0;
                    $.each($('.wea_checkboxes'), function(index, checkbox) {
                        if (checkbox.checked) {
                            wea_selections += 1;
                        }
                    });
                    if (wea_selections == 0) {
                        alert("Select at least 1 Wind Energy Area or de-activate the Wind Energy Areas criteria.");
                        return false;
                    }
                }
            }*/
        } 
        return true;
    }; 

    function wizard(action) {
        if (step == 1 && action == 'next') {
            if (validate(step)) {
                step += 1;
            }
        } else if (step < max_step && action == 'next') {
            step += 1;
        } else if (step > 1 && action == 'prev') {
            step -= 1;
        }
        $('div.step').each(function(index) {
            $(this).hide();
        });
        $('div#step' + step).show();
        updateDesignScrollBar();
        $('#wind-design-form').data('jsp').scrollTo(0,0);
        

        if (step == 1) {
            $('#button_prev').hide();
            $('#button_next').css('border-radius', '4px');
        } else {
            $('#button_prev').show();
            $('#button_next').css('border-top-right-radius', '4px');
            $('#button_next').css('border-bottom-right-radius', '4px');
            $('#button_next').css('border-top-left-radius', '0px');
            $('#button_next').css('border-bottom-left-radius', '0px');
        }

        if (step == max_step) {
            $('#button_next').hide();
            $('.submit_button').show();
        } else {
            $('#button_next').show();
            $('.submit_button').hide();
        }
    };
    
    function showhide_widget(element) {
        element.fadeToggle(100); //slideToggle
    }  
    
    function updateDesignScrollBar() {
        var designsWizardScrollpane = $('#wind-design-form').data('jsp');
        if (designsWizardScrollpane === undefined) {
            $('#wind-design-form').jScrollPane();
        } else {
            setTimeout(function() {designsWizardScrollpane.reinitialise();},200);
        }
    }
    
    // DISTANCE TO SHORE UPDATED
    //Update Remaining Leaseblocks 
    $('#slider-input_coast_distance').bind( "slide slidechange", function(event, ui) {
        if (app.viewModel.scenarios.scenarioFormModel) { //this condition prevents error thrown at form creation time
            app.viewModel.scenarios.scenarioFormModel.updateFilters({'key': 'min_distance', 'value': parseInt(ui.values[0])*1000});
            app.viewModel.scenarios.scenarioFormModel.updateFilters({'key': 'max_distance', 'value': parseInt(ui.values[1])*1000});
            //Update Remaining Leaseblocks 
            updateRemaininLeaseBlocks();
        }
    });  

    $('#button_prev').click( function() { wizard('prev'); });
    $('#button_next').click( function() { wizard('next'); });
    wizard();
    
    $('ul.errorlist').each( function() {
        step = 3;
        wizard();
    });
    
    //not sure this is used any more...
    /*
    $('img.info').each( function() {
        var id = $(this).attr('id');
        var text = "none";
        topMiddle = false;
        topLeft = false;
        topRight = false;
        switch(id) {
            //Step 1 Categories
            case 'info_wind_speed':
                topRight = true;
                text = $('#info_wind_speed_content').html();
                break;   
            case 'info_wind_speed_widget':
                topLeft = true;
                text = $('#info_wind_speed_widget_content').html();
                break;                        
            default:
                $(this).hide();
        }
        if (text != 'none') {                
            var my_configuration_object = {
                content: text, 
                show: { 
                    delay: 0,
                    when: { event: 'mouseover' } 
                },
                position: { corner: {} },
                hide: { when: {event: 'mouseleave'} },
                style: { 
                    name: 'blue' 
                }
            };
            if (topMiddle) {
                my_configuration_object.position.corner.target = 'topMiddle';
                my_configuration_object.position.corner.tooltip = 'bottomMiddle';
                my_configuration_object.style.width = 320;
            } else if (topLeft) {
                my_configuration_object.position.corner.target = 'topRight';
                my_configuration_object.position.corner.tooltip = 'bottomRight';
                my_configuration_object.style.width = 270;            
            } else if (topRight) {
                my_configuration_object.position.corner.target = 'topLeft';
                my_configuration_object.position.corner.tooltip = 'bottomLeft';
                my_configuration_object.style.width = 270;
            } else {
                my_configuration_object.position.corner.target = 'rightMiddle';
                my_configuration_object.position.corner.tooltip = 'leftMiddle';
                my_configuration_object.style.width = 270;
            }
            //$(this).qtip(my_configuration_object);
        }
    }); 
    */

     
    if ($("input[type='color']").length) {
        $.getScript("media/marco/js/mColorPicker.js");
    }   
    
    $('#id_name').keypress(function (e) {
        if (e.which === 13) {
            $('#scenario-form .submit_button').click();
            return false;
        } else {
            $('#invalid-name-message').hide();
        }
    });
    /*
    $('#scenario-form .submit_button').click( function() {
        var name = $('#id_name').val();
        if ($.trim(name) !== "") {  
            return true;
        }
        $('#invalid-name-message').show();
        return false;
    });
    */
    
    /* Tooltips */ 
    //overriding the template here to remove empty space for title
    $('.info-icon').popover({
        trigger: 'hover',
        template: '<div class="popover layer-popover"><div class="arrow"></div><div class="popover-inner layer-tooltip"><div class="popover-content"><p></p></div></div></div>'
    });
    $('.info-icon').click(function(e) {
        if ( $('.popover').is(':visible') ) {
            $('.popover').hide();
        }
    });
});
</script>

{% if form.media %} {{ form.media }} {% endif %}
<h4>Grid Filtering</h4>
<form id="wind-design-form" action="{{action}}" method="post" name="wind-design-form">
    {% for hidden in form.hidden_fields %}
        <div style="display:none;">
            {{ hidden.errors }}
        </div>{{ hidden }} 
    {% endfor %}
    <div id="error_bar"></div>
        
    {% for step in form.get_steps %}
    <div id="step{{ forloop.counter }}" class="step">
        <p class="step-text"><i>Step {{ forloop.counter }} of 3 </i></p>
        <!-- <p class="instructions">Select 1 or more criteria for this sector </p> -->
        {% if forloop.counter == 1 %}
        <!-- <label class="step-header">Wind Energy</label> -->
        <p class="instructions"><b>Select</b> one or more criteria from the list below</p>
        {% elif forloop.counter == 2 %}
        <!-- <label class="step-header">Step Two</label> -->
        <p class="instructions"><b>Exclude</b> areas that contain any of the following</p>
        {% endif %}
        <div id="step{{ forloop.counter }}_inputs">
            <ul class="parameters">
                {% for field, field_min, field_max, field_input in step %}
                <li>
                    <div class="accordion" id="{{ field.html_name }}_accordion">
                        <div class="accordion-heading" data-bind="click: parameterToggler('{{ field.html_name }}')">
                            <label class="accordion-toggle">
                                {{ field.as_widget }}
                                <i class="check icon-large icon-check" data-bind="visible: {{ field.html_name }}()"></i>
                                <i class="check icon-large icon-check-empty"></i>
                                <span class="parameter-label" style="margin-left: 5px">{{ field.label }}</span> 
                                <i class="info-icon icon-info-sign" rel="popover" 
                                   data-content="{{ field.help_text }}"
                                   data-placement="right"
                                   data-container="body">
                                </i>
                            </label>
                        </div>
                        {% if field_min or field_max or field_input %}
                        <div id="{{ field.html_name }}_widget" class="inputfield accordion-body collapse" data-bind="css: {'in': {{ field.html_name }}()}">
                            <div class="accordion-inner">
                                <div>
                                {{ field.help_text }}
                                {% if field_min %}
                                    {{ field_min.as_widget }}
                                {% endif %}
                                {% if field_max %}
                                    {% if field_min %}to{% endif %}
                                    {{ field_max.as_widget }} {% if field_max.field.widget.unit %} {{ field_max.field.widget.unit }} {% endif %}
                                {% endif %}
                                {% if field_input %}
                                    {{ field_input.as_widget }}
                                {% endif %}
                                {{ field.errors }}
                                <script type="text/javascript">
                                {% if field_min and not field_max %}
                                    $('#slider-{{ field_min.html_name }}').bind( "slide slidechange", function(event, ui) {
                                        if (app.viewModel.scenarios.scenarioFormModel) {
                                            app.viewModel.scenarios.scenarioFormModel.updateFilters('{{ field.html_name }}', ui.value, null);
                                            updateRemaininLeaseBlocks();
                                        }
                                    });  
                                {% elif field_max and not field_min %}
                                    $('#slider-{{ field_max.html_name }}').bind( "slide slidechange", function(event, ui) {
                                        if (app.viewModel.scenarios.scenarioFormModel) {
                                            app.viewModel.scenarios.scenarioFormModel.updateFilters('{{ field.html_name }}', null, ui.value);
                                            updateRemaininLeaseBlocks();
                                        }
                                    });  
                                {% elif field_min and field_max %}
                                    $('#slider-{{ field_input.html_name }}').bind( "slide slidechange", function(event, ui) {
                                        if (app.viewModel.scenarios.scenarioFormModel) {
                                            app.viewModel.scenarios.scenarioFormModel.updateFilters('{{ field.html_name }}', ui.values[0], ui.values[1]);
                                            updateRemaininLeaseBlocks();
                                        }
                                    });  
                                {% endif %}
                                </script>
                            </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
    
    
    <div id="step3" class="step">
        <p class="step-text"><i>Step 3 of 3 </i>
        <p class="instructions">Provide a <b>Name</b> to identify your Grid Filtering design </p>
        <div class="step3-inputs">
            <div class="step3-param">
                {{ form.name.errors }}
                {{ form.name }} 
                <div id="invalid-name-message" class="control-group error" style="display: none; margin-top: -10px; margin-left: -5px;">
                    <span class="help-inline">The <b>Name</b> field is required.</span>
                </div>           
            </div>
            <p class="instructions">Optionally, you may add a <b>Description</b> <!--and/or attach a file--> </p>
            <div class="step3-param">
                {{ form.description.errors }}
                {{ form.description }}            
            </div>
            <div id="scenario-cp">
                <!--<input type="color" value="#ff0667" data-text="hidden" style="height:20px;width:20px;" />-->
            </div>
        </div>
    </div>

    <p><button type="submit" value="submit" class="btn-submit btn">submit</button></p>
</form>

<!-- <div class="show-blocks-btn" data-bind="visible: app.viewModel.modernBrowser()">
    <span data-bind="visible: !isLeaseblockLayerVisible()">
        <a class="button btn" data-bind="click: activateLeaseblockLayer">
            <span class="badge" style="margin-right: 5px; margin-left: -5px;" 
                  data-bind="text: leaseblocksLeft"></span> Grid Cells Remaining 
            <i class="icon-large icon-check-empty" 
               style="margin-right: -5px; margin-left: 5px;"></i>
        </a>
    </span>
    <span data-bind="visible: isLeaseblockLayerVisible()">
        <a class="button btn" data-bind="click: deactivateLeaseblockLayer">
            <span class="badge" style="margin-right: 5px; margin-left: -5px;" 
                  data-bind="text: leaseblocksLeft"></span> Grid Cells Remaining 
            <i class="icon-large icon-check"
               style="margin-right: -5px; margin-left: 5px;"></i>
        </a>
    </span>
</div> -->

<!-- <div class="show-blocks-btn" style="padding-right: 1px; color: #333333" data-bind="visible: ! app.viewModel.modernBrowser()">
    <label>Grid Cells Remaining: <span data-bind="text: leaseblocksLeft"></span></label>
</div> -->

<div class="wizard_nav" style="width:100%">
    <div class="btn-group pull-right">
        <a href="#" class="button btn" onclick="this.blur(); return false;" id="button_prev"><span>&lt; Previous</span></a>
        <a href="#" class="button btn"  onclick="this.blur(); return false;" id="button_next"><span>Next &gt;</span></a>
        <a href="#" class="submit_button button btn" onclick="this.blur(); return false;"><span>Save</span></a>
    </div>
</div>

<div>
    <div class="btn-group pull-left">
        <a href="#" class="cancel_button button red btn"><span>Cancel</span></a>
        
    </div>
</div>


<!-- TODO: clean up the following (much of it is not being used) after we've made some progress -->
<style type="text/css">

input.hidden_checkbox {
    display:none;
}

#id_input_parameter_wind_speed {
    display: none;
}
#id_input_parameter_distance_to_shore {
    display: none;
}
#id_input_parameter_depth {
    display: none;
}
#id_input_parameter_distance_to_substation {
    display: none;
}
#id_input_parameter_distance_to_awc {
    display: none;
}
#id_input_filter_distance_to_shipping {
    display: none;
}
#id_input_filter_ais_density {
    display: none;
}
#id_input_filter_uxo {
    display: none;
}


#wind-design-form i.check {
    top: 7px;
}
#wind-design-form .accordion-toggle i.check {
    left: -3px;
}
#wind-design-form i.icon-check-empty {
    display: block !important;
    opacity: .4;
    /* for IE */
    filter: alpha(opacity=40);
}
#wind-design-form label:hover i.icon-check-empty {
    display: block !important;
    opacity: .8;
    /* for IE */
    filter: alpha(opacity=80);
}
#wind-design-form .parameter-label {
    font-size: 14px;
}
#wind-design-form .show-layer-btn {
    height: 16px; 
    line-height: 16px;
    padding-left: 15px;
}
#wind-design-form .show-layer-btn-group {
    width: 70%; 
    margin: 15px 0px 5px 0px;
}
.show-blocks-btn a{
    height: 16px; 
    line-height: 16px;
}
.show-blocks-btn i.icon-check-empty {
    opacity: .4;
    /* for IE */
    filter: alpha(opacity=40);
}
.show-blocks-btn:hover i.icon-check-empty {
    opacity: .8;
    /* for IE */
    filter: alpha(opacity=80);
}
#wind-design-form .accordion-heading .accordion-toggle {
    padding: 4px 15px;
}
#wind-design-form .accordion-body {
    border-left: 0px !important;
}
#wind-design-form .accordion-inner {
    padding: 5px 0px;
    border-top: 0px;
    font-weight: normal;
}
#wind-design-form .inputfield {
    margin: 0px 20px;
}
#wind-design-form .btn-info-sign {
    padding: 4px 8px;
}
.show-blocks-btn {
    margin-top: -10px;
    padding-bottom: 10px;
}



div .field > label { 
    font-size: 12px; 
    display: inline; 
}
div.param-checkboxes {
    padding-left: 10px !important;
}
span.potential {
    font-weight:bold; !important;
}
span.traffic {
    font-weight:bold; !important;
}
span.form-image { 
    float: left; 
    margin-left: -66px; 
}
span.form-image > img { 
    width:46px; 
    height:46px; 
}

.traffic {
    margin-top: 5px;
}
.traffic_widget {
    margin-top: 15px;
}


p.step-text {
    margin: 0px;
    text-align:left;
}
p.instructions {
    margin: 0px; 
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    color: #47556C;
    font-size: 14px;
    font-weight: normal;
    font-family: sans-serif;
}
form ul {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 20px;
}
li label {   
    font-weight: normal !important;
    margin-bottom: 0px !important;
}
form ul.parameters {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 90%;
}

form ul.parameters i.info-icon {
    margin-left: 0px !important; 
    color: #666;
}
form ul.parameters i.info-icon:hover {
    color: #333;
}

label.step-header {
    margin-top: 5px;
    font-weight: bold;
    padding-left: 5px !important;
}
label.step3-header {
    font-weight: bold;
    padding-left: 5px !important;
    padding-bottom: 10px !important;
}
label.param {
    font-weight: normal !important;
    padding-left: 0px !important;
}
img.info {
    display: inline !important;
}

/* design stuff */

.panel form {
    /*background: none repeat scroll 0 0 #DDDDDD;*/
    border: 1px solid #BBBBBB;
    border-radius: 10px 10px 10px 10px;
    height: 60%;
    width: 99%;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}


.panel > form textarea,
.panel > form input[name="name"] {
    width: 90%;
}

.errorlist {
    color: red;
}

form {
    outline: none;
}
</style>

{% endblock %}